@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

.icon { font-family: "FontAwesome";}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 65%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
/*=================================
  Header styling ends here
=================================*/  
/*=================================
  banner styling starts here
=================================*/
.banner {
  padding: 180px 0 65px; 
  background: linear-gradient(to right,  #544675 0%,#713D78 100%);
}

.banner .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

h2 { 
  padding-right: 65px;
  border-right: 1px solid #6E537E;
  flex-basis: 43%;
  color: #fff;
  font-size: 31px;
  font-weight: bold;
  line-height: 1.5;
}
.banner-content { flex-basis: 45%;}

.banner-content p {
  color: #AB9DBB;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.;
}

.start {
  margin-top: 20px;
  padding: 10px 30px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #49BD8B;
  color: #fff;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.start:hover {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: 0.3s ease;
}
/*=================================
  banner styling ends here
=================================*/ 


/*=================================
  main styling starts here
=================================*/
/* about section styling starts here */
.about .wrapper {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-list {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
}

.magna { 
  padding-right: 50px;
  flex-basis: 46%;
  border-right: 1px solid #E4E4E4;
}

.magna h3 {
  padding-bottom: 30px;
  color: #666666;
  font-size: 22px;
  font-weight: 600;
}

.magna p {
  color: #877B82;
  font-size: 12px;
  line-height: 2;
}

.learn {
  margin-top: 20px;
  padding: 10px 30px;
  border: 1px solid #E9E9E9;
  border-radius: 20px;
  color: #756D69;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.learn:hover {
  border: 1px solid transparent;
  background-color: #756D69;
  color: #fff;
  transition: 0.3s ease;
}

.about-list li { 
  display: flex;
  gap: 10px;
  align-items: center;
  color: #877B82;
  font-size: 13.5px;
  line-height: 3;
}

.about-list li::before {
  content: "\f00c";
  color: #49BD8B;
  font-size: 14px;
  text-indent: 0;
}

/* site-features section styling starts here */
.site-features .wrapper,
.feature {
  display: flex;
  align-items: center;
}

.site-features { 
  padding: 70px 0;
  border-top: 1px solid #E1E1E1;
  background-color: #FAFAFA;
}

.site-features .wrapper { 
  justify-content: center;
  flex-wrap: wrap;
}

.feature-content { 
  flex-basis: 55%;
}

.feature { 
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #EAEAEA;
  background-color: #fff;
}

.feature-content h3 {
  padding-bottom: 20px;
  color: #666666;
  font-size: 18px;
  font-weight: 600;
}

.feature-content p {
  color: #877B82;
  font-size: 12px;
  line-height: 2;
}

.details {
  margin-top: 25px;
  padding: 10px 30px;
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  color: #756D69;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.details:hover {
  border: 1px solid transparent;
  background-color: #756D69;
  color: #fff;
  transition: 0.3s ease;
}

.magna-btn { text-align: center;}

.ipsum {
  margin-top: 20px;
  padding: 12px 30px;
  border: 1px solid #E9E9E9;
  border-radius: 20px;
  color: #756D69;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.ipsum:hover {
  border: 1px solid transparent;
  background-color: #756D69;
  color: #fff;
  transition: 0.3s ease;
}

/* contact styling starts here */
.contact { 
  padding: 60px 0;
  border-bottom: 1px solid #E1E1E1;
}

.contact .wrapper, .names {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.contact-information {
  display: flex;
  flex-direction: column;
  flex-basis: 47%;
  align-items: flex-start;
}

.contact-form { 
  width: 45%;
  padding-right: 35px;
  border-right: 1px solid #E4E4E4;
}

.contact-form h3 {
  padding-bottom: 25px;
  color: #666666;
  font-size: 22px;
  font-weight: 600;
}

.contact-form p {
  padding-bottom: 20px;
  color: #877B82;
  font-size: 12px;
  line-height: 2;
}

input[type=text], 
textarea {
  padding: 10px 0 10px 10px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #DADADA;
  box-sizing: border-box;
}

textarea { padding-right: 5px;}

form ::placeholder { 
  color: #DADADA;
  font-size: 12px;
}

.send {
  margin-top: 25px;
  padding: 10px 30px;
  border: 1px solid #E9E9E9;
  border-radius: 20px;
  background: none;
  color: #756D69;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.send:hover {
  border: 1px solid transparent;
  background-color: #756D69;
  color: #fff;
  transition: 0.3s ease;
}

.contact-information li a,
address { color: #877B82;}

address { width: 60%;}

address span { 
  display: inline-block;
  padding-top: 10px;
}

.contact-information li { 
  display: flex;
  gap: 13px;
  align-items: flex-start;
  padding-bottom: 20px;
  font-size: 13px;
}

.contact-information li::before {
  color: #49BD8B;
  font-size: 13px;
  text-indent: 0;
}

.twitter::before { content: "\f099";}
.facebook::before { content: "\f09a";}
.instagram::before { content: "\f16d";}
.mail::before { content: "\f0e0";}
.homeaddress::before { content: "\f015";}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding: 50px 0;
  background-color: #FAFAFA;
}

footer p {
  color: #CBCBCE;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.5px;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  